@font-face{
    font-family: 'Quicksand-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Quicksand-Regular'), 
         url(../fonts/Quicksand-regular.woff2) format('woff2'),
         url(../fonts/Quicksand-regular.woff) format('woff');
    font-display: swap;
}

@font-face{
    font-family: 'Quicksand-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('Quicksand-Medium'), 
         url(../fonts/Quicksand-Medium.woff2) format('woff2'),
         url(../fonts/Quicksand-Medium.woff) format('woff');
    font-display: swap;
}

@font-face{
    font-family: 'Roboto-regular';
    font-weight: 400;
    font-style: normal;
    src: local('Roboto-Regular'), 
         url(../fonts/roboto-regular.woff2) format('woff2'),
         url(../fonts/roboto-regular.woff) format('woff');
    font-display: swap;
}

    @font-face{
        font-family: 'Roboto-Bold';
        font-weight: 700;
        font-style: normal;
        src: local('Roboto-Bold'), 
             url(../fonts/Roboto-Bold.woff2) format('woff2'),
             url(../fonts/roboto-bold.woff) format('woff');
        font-display: swap;

    }