$accent: #fe3e57;
$default: #8d8d8d;
$title: #29282d;
$bg: #f6f6f6;




%quicksan-400{ 
font-family: 'Quicksand-Regular', sans-serif;
font-weight: 400;

}

%quicksan-500{
    font-family: 'Quicksand-Medium', sans-serif;
    font-weight: 500;
    }

%roboto-400{
   font-family: 'roboto-Regular', sans-serif;
   font-weight: 400;
        }

  %roboto-700{ 
    font-family: 'roboto-Bold', sans-serif;
    font-weight: 700;
            }